.macbook{
    width: 500px;
    display: inline;
    height: auto;
    padding-bottom: 2rem;
    
}

.title{
    font-size: 50px;
}

.container{
    max-width: 720px;
}

.price {
    display: inline;
    text-align: center;
    
}