.macbook{
    width: 690px;
    display: flex;
    height: auto;
    padding-bottom: 2rem;
    
}

.title{
    font-size: 50px;
}

.container{
    max-width: 720px;
}

.price {
    display: inline;
    text-align: left;
    
}

* {
    font-family: 'Black Han Sans', sans-serif;
}
